<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Monoco.CMS.FieldTypes" assembly="Monoco.CMS" prefix="monoco"/>
    </controlSources>
    <fieldTypes>
      
    </fieldTypes>

    <pipelines>
      <renderContentEditor>
        <processor x:before="*[1]" type="Monoco.CMS.Pipelines.RenderContentEditor.AddLinkListScripts,Monoco.CMS"/>
      </renderContentEditor>
    </pipelines>
    
  </sitecore>
</configuration>